# base
node_modules/
.env
dist/
.DS_Store
*.tsbuildinfo

/.react-router/
# build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Cloudflare Workers
.wrangler/
.pnpm-store
.mf
.dev.vars*
