@use "~/styles" as *;

.container {
    @include rounded("lg");
    background-color: $surfaceContainerHighest;
    height: 8rem;
    border: 1px solid transparent;

    &:focus-within {
        // @include border;
        border: 1px solid $primary;
        box-shadow: 0 0 0 1px $primary;
        // @include shadow;
    }

    &__terminal {
        height: 100%;
        margin: 0 auto;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // gap: 1rem;
        margin: 0;

        &__result {
            flex: 1;
            margin-bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &[command-result="ok"] {
                color: inherit;
            }

            &[command-result="error"] {
                color: $error;
            }
        }

        &__entry {
            gap: 0;
            display: flex;
            line-height: normal;

            &__prompt {
                padding-right: 0.5rem;

                &::after {
                    // \00a0
                    content: attr(data-after);
                    position: absolute;
                    // color: inherit;
                    color: $primary;
                    // color: $onSurface;
                    animation: blink 1s infinite;
                    margin-left: 0.6rem;
                    margin-top: 0.2rem;
                }

                @keyframes blink {
                    50% {
                        opacity: 0;
                    }
                }
            }

            &__input {
                font-family: inherit;
                font-size: inherit;
                width: 100%;
                background-color: inherit;
                // color: inherit;
                color: $primary;
                border: none;
                position: relative;
                display: inline-block;
                caret-color: transparent;
                flex: 1;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
