@use "../../styles/color.scss";
@use "../../styles/font.scss";
@use "../../styles/variables.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout {
    height: 100%;
    display: flex;

    &__middleColumn {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        &__header {
            @include color.surfaceDim;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &__logo {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                text-decoration: none;
                font-size: 1.5rem;

                &__prompt {
                    color: color.$tertiary;
                    font-weight: bold;
                }

                &__text {
                    color: color.$primary;
                    font-weight: 600;
                }

                &__cursor {
                    color: color.$primary;
                    animation: blink 1s step-end infinite;

                    @keyframes blink {
                        0%,
                        100% {
                            opacity: 1;
                        }

                        50% {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &__content {
            box-sizing: border-box;
            flex: 1;
            background-color: color.$surfaceContainer;
            color: color.$onSurface;
            // padding: 2rem;
            padding: 1.5rem 0rem;
            border-radius: 2rem;
            overflow: hidden;

            // @media (max-width: variables.breakpoint(md)) {
            //     padding: 0rem;
            // }

            &__container {
                @include font.sans;
                height: 100%;
                overflow-y: auto;
                padding: 0rem 1.5rem;
                scrollbar-color: color.$tertiary color.$surfaceContainer;
                view-transition-name: mainContent;

                // @media (max-width: variables.breakpoint(md)) {
                //     padding: 0rem;
                // }
            }
        }
    }

    &__sideBar {
        @include color.surfaceDim;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 3.25rem;
        transition: width 0.3s ease;

        @media (max-width: variables.breakpoint(md)) {
            display: none;
        }

        &__button {
            margin-left: 6px;
            &.--sidebarOpen {
                transform: scale(-1, 1);
            }
        }

        &__navigation {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding-top: 2rem;
            padding-bottom: 2rem;
            gap: 2rem;

            &__link {
                padding: 0.25rem;
                color: color.$onSurface;
                fill: color.$onSurface;
                border-radius: 0.5rem;
                box-sizing: content-box;
                margin-left: 6px;
                margin-right: auto;
                display: flex;
                align-items: center;

                &.--sidebarOpen {
                    width: 8rem;
                }

                &__icon {
                    height: 2rem;
                    width: 2rem;
                }

                &__text {
                    display: none;
                    flex: 1;
                    margin-left: clamp(0.5rem, 50%, 1.5rem);

                    &.--sidebarOpen {
                        display: inline-block;
                    }
                }

                &:hover {
                    fill: color.$onPrimary;
                    background-color: color.$primary;
                    color: color.$onPrimary;
                }

                &:focus {
                    outline-color: color.$primary;
                }
            }
        }
    }
}

::view-transition-old(mainContent) {
    animation: shrink-out 0.5s ease-out forwards;
}

::view-transition-new(mainContent) {
    animation: grow-in 0.5s ease-out forwards;
}

@keyframes shrink-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes grow-in {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
