@use "~/styles/util.scss";

/* Font Size */
@mixin size($size) {
    font-size: util.pt($size);
}

/* Font Weight */
$thin: 200;
$default-weight: 300;
$thick: 350;
$thicker: 400;
$bold: 450;
$bolder: 550;

@mixin weight($weight) {
    font-weight: $weight;
}

@mixin thin {
    @include weight($thin);
}

@mixin weight-default {
    @include weight($default-weight);
}

@mixin normal {
    @include weight($default-weight);
}

@mixin thick {
    @include weight($thick);
}

@mixin thicker {
    @include weight($thicker);
}

@mixin bold {
    @include weight($bold);
}

@mixin bolder {
    @include weight($bolder);
}
