@use "../../../styles/color.scss";
@use "../../../styles/style.scss";

@mixin base-button {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    padding: clamp(2px, 0.25rem, 6px) clamp(1px, 0.25rem, 3px);

    /* Style */
    @include style.rounded;

    &:hover {
        @include style.border;
        @include style.shadow;
    }
}

.button {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    @include style.rounded;

    color: color.$onSurface;
    background-color: color.$surfaceDim;

    &:hover {
        background-color: color.$primary;
        color: color.$onPrimary;
        fill: color.$onPrimary;
        @include style.border;
        @include style.shadow;
    }

    &:focus {
        outline-color: color.$primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}

.iconButton {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    @include style.rounded;

    color: color.$onSurface;
    background-color: color.$surfaceDim;

    &:hover {
        background-color: color.$primary;
        color: color.$onPrimary;
        fill: color.$onPrimary;
        @include style.border;
        @include style.shadow;
    }

    &:focus {
        outline-color: color.$primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}

.buttonColor {
    &--primary {
        color: color.$onPrimary;
        background-color: color.$primary;
    }

    &--secondary {
        color: color.$onSecondary;
        background-color: color.$secondary;
    }

    &--tertiary {
        color: color.$onTertiary;
        background-color: color.$tertiary;
    }

    &--error {
        color: color.$onError;
        background-color: color.$error;
    }
}

.buttonVariant {
    &--outline {
        border: 1px solid;
        background-color: transparent;
    }

    &--ghost {
        background-color: transparent;
    }
}
