@use "reset.scss";
@use "font.scss";
@use "color.scss";
@use "material.scss";

:root {
    @include font.mono;
    color: color.$primary;
    background-color: color.$surfaceDim;
}

html,
body {
    height: 100dvh;
    width: 100vw;
    overscroll-behavior: none;
}

:root * {
    box-sizing: border-box;
}

:root.color-transition,
:root.color-transition * {
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
