@use "sass:map";
@use "color.scss" as color;

@mixin border($width: 1px) {
    border: $width solid color.$outline;
}

@mixin border-top($width: 1px) {
    border-top: $width solid color.$outline;
}

@mixin shadow {
    box-shadow: 1px 1px 4px color.$shadow;
}

@function breakpoint($key) {
    @if not map.has-key($_breakpoints, $key) {
        @warn "Breakpoint `#{$key}` not found.";
    }

    @return map.get($_breakpoints, $key);
}

$_border-radii: (
    sm: 0.25rem,
    md: 0.5rem,
    lg: 1rem,
    xl: 2rem,
    2xl: 3rem
);

@mixin rounded($size: "md") {
    @if not map.has-key($_border-radii, $size) {
        @error "Border radius `#{$size}` not found.";
    }
    border-radius: map.get($_border-radii, $size);
}
