@use "~/styles" as *;

html[data-fullscreen] {
    & .header {
        display: none;
    }
    & .content {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
    }
}

html[data-fullscreen] {
    & .layout {
        @include surfaceContainer;
    }

    & .content__main {
        max-width: width(xl);
        margin: 0 auto;
    }
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    @include surfaceDim;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        &__link {
            display: flex;

            gap: 0.5rem;
            text-decoration: none;
            font-size: 1.5rem;

            &__icon {
                color: $tertiary;
                font-weight: bold;
            }

            &__text {
                color: $primary;
                font-weight: 600;
            }

            &__cursor {
                color: $primary;
                animation: blink 1s step-end infinite;

                @keyframes blink {
                    0%,
                    100% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__navbarButton {
        @media (max-width: breakpoint(md)) {
            display: none;
        }
        &.--navbarOpen svg {
            transform: scale(-1, 1);
        }
    }
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.content {
    @include surfaceContainer;
    @include border(2px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    flex: 1;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    overflow: hidden;

    height: 100%;
    overflow-y: auto;
    scrollbar-color: $tertiary $surfaceContainer;

    &__main {
        @include sans-serif;
        padding: 1.5rem;
        view-transition-name: mainContent;
    }
}

::view-transition-old(mainContent) {
    animation: shrink-out 0.3s ease-out forwards;
}

::view-transition-new(mainContent) {
    animation: grow-in 0.3s ease-out forwards;
}

@keyframes shrink-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes grow-in {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
