@use "~/styles" as *;

html[data-fullscreen] {
    & .sidebar {
        display: none;
    }
}

.sidebar {
    @include surfaceDim;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0.75rem;

    &[data-fullscreen="true"] {
        display: none;
    }

    &__content {
        width: clamp(40px, 2rem, 64px);
        padding: clamp(2px, 0.25rem, 6px);
        box-sizing: border-box;
    }

    @media (max-width: breakpoint(md)) {
        display: none;
    }
}
