@use "../../../../styles/color.scss";
@use "../../../../styles/font.scss";
@use "../../../../styles/variables.scss";

.navbar {
    /* Includes */
    @include color.surfaceDim;

    /* Position and Layout */
    display: flex;
    flex-direction: column;

    /* Box Model */
    margin: 0.75rem;
    width: fit-content;
    min-width: 0;

    /* Animation */
    transition: min-width 0.3s ease;

    /* Breakpoint */
    @media (max-width: variables.breakpoint(md)) {
        display: none;
    }

    &__content {
        flex: 1;

        &__navigation {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 2rem;
            margin-top: 2rem;

            &__link {
                padding: 0.25rem;
                color: color.$onSurface;
                fill: color.$onSurface;
                border-radius: 0.5rem;
                box-sizing: content-box;
                display: flex;
                align-items: center;

                &.--sidebarOpen {
                    width: 8rem;
                }

                &__icon {
                    height: 2rem;
                    width: 2rem;
                }

                &__text {
                    display: none;
                    flex: 1;
                    margin-left: clamp(0.5rem, 50%, 1.5rem);

                    &.--sidebarOpen {
                        display: inline-block;
                    }
                }

                &:hover {
                    fill: color.$onPrimary;
                    background-color: color.$primary;
                    color: color.$onPrimary;
                }

                &:focus {
                    outline-color: color.$primary;
                }
            }
        }
    }

    &.--open {
        min-width: 10rem;
    }
}
