@use "../../../styles/color.scss";

.button {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    color: color.$onSurface;
    background-color: inherit;
    border-radius: 0.5rem;

    &:hover {
        background-color: color.$primary;
        color: color.$onPrimary;
        fill: color.$onPrimary;
    }

    &:focus {
        outline-color: color.$primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}
