@use "~/styles" as *;

.notFound {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: clamp(0px, 15%, 20rem);

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__message {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__link {
        @include rounded;
        margin-top: 1rem;
        width: fit-content;
        // background-color: colors.$error;
        // color: colors.$onError;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 1rem auto;

        // Add transparent border initially to maintain consistent size
        // border: 1px solid transparent;
        @include border;

        &:hover {
            background-color: $tertiary;
            color: $onTertiary;
            // background-color: colors.$errorContainer;
            // color: colors.$onErrorContainer;
            // box-shadow: 1px 1px 4px colors.$errorContainer;
            // border: 1px solid colors.$errorContainer;
            @include shadow;
            @include border;
        }
    }
}
