@use "~/styles" as *;

.button {
    /* Positioning */
    // position: relative;
    // top: 0;
    // right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    @include rounded;

    color: $onSurface;
    background-color: $surfaceDim;

    &:hover {
        background-color: $primary;
        color: $onPrimary;
        fill: $onPrimary;
        @include border;
        @include shadow;
        // top: -1px;
        // right: -1px;
    }

    &:focus {
        outline-color: $primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}
