@use "../../../styles" as *;

@mixin base-button {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    padding: clamp(2px, 0.25rem, 6px) clamp(1px, 0.25rem, 3px);

    /* Style */
    @include rounded;

    &:hover {
        @include border;
        @include shadow;
    }
}

.button {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    @include rounded;

    color: $onSurface;
    background-color: $surfaceDim;

    &:hover {
        background-color: $primary;
        color: $onPrimary;
        fill: $onPrimary;
        @include border;
        @include shadow;
    }

    &:focus {
        outline-color: $primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}

.iconButton {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sizing */
    height: clamp(40px, 2rem, 64px);
    width: clamp(40px, 2rem, 64px);
    padding: clamp(2px, 0.25rem, 6px);
    box-sizing: border-box;

    /* Style */
    @include rounded;

    color: $onSurface;
    background-color: $surfaceDim;

    &:hover {
        background-color: $primary;
        color: $onPrimary;
        fill: $onPrimary;
        @include border;
        @include shadow;
    }

    &:focus {
        outline-color: $primary;
    }

    &__icon {
        height: clamp(40px, 2rem, 64px);
        width: clamp(40px, 2rem, 64px);
        margin: 5%;

        & path {
            vertical-align: text-bottom;
        }
    }

    &__text {
        color: red;
    }
}

.buttonColor {
    &--primary {
        color: $onPrimary;
        background-color: $primary;
    }

    &--secondary {
        color: $onSecondary;
        background-color: $secondary;
    }

    &--tertiary {
        color: $onTertiary;
        background-color: $tertiary;
    }

    &--error {
        color: $onError;
        background-color: $error;
    }
}

.buttonVariant {
    &--outline {
        border: 1px solid;
        background-color: transparent;
    }

    &--ghost {
        background-color: transparent;
    }
}
