@use "sass:map";
@use "colors";

/* Layout Mixins */

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

/* Style Mixins */

@mixin border($width: 1px) {
    border: $width solid colors.$outline;
}

@mixin border-top($width: 1px) {
    border-top: $width solid colors.$outline;
}

@mixin shadow {
    box-shadow: 1px 1px 4px colors.$shadow;
}

$_border-radii: (
    sm: 0.25rem,
    md: 0.5rem,
    lg: 1rem,
    xl: 2rem,
    2xl: 3rem
);

@mixin rounded($size: "md") {
    @if not map.has-key($_border-radii, $size) {
        @error "Border radius `#{$size}` not found.";
    }
    border-radius: map.get($_border-radii, $size);
}

/* Color Mixins */

@mixin surfaceContainer {
    background-color: colors.$surfaceContainer;
    color: colors.$onSurface;
}

@mixin surfaceDim {
    background-color: colors.$surfaceDim;
    color: colors.$onSurface;
}

@mixin surfaceContainerHighest {
    background-color: colors.$surfaceContainerHighest;
    color: colors.$onSurface;
}

@mixin surfaceContainerHighest {
    background-color: colors.$surfaceContainerHighest;
    color: colors.$onSurface;
}

@mixin primary {
    background-color: colors.$primary;
    color: colors.$onPrimary;
}

@mixin primaryContainer {
    background-color: colors.$primaryContainer;
    color: colors.$onPrimaryContainer;
}

@mixin tertiary {
    background-color: colors.$tertiary;
    color: colors.$onTertiary;
}
