@use "../../styles/color.scss" as color;
@use "../../styles/style.scss" as style;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 2.5rem 5rem 0 5rem;
}

.hero {
    background-color: color.$secondaryContainer;
    color: color.$onSecondaryContainer;
    border-radius: 1rem;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;

    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding-top: 60px;
        color: color.$onSecondaryContainer;
    }

    &__subtitle {
        font-size: 18px;
        text-align: center;
        color: color.$onSecondaryContainer;
        margin-top: 10px;
    }

    &__content {
        font-size: 16px;
        text-align: center;
        color: color.$onSecondaryContainer;
        margin-top: 10px;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(30rem, 45%, 100%), 1fr));
    gap: 20px;
}

.section {
    position: relative;
    top: 0;
    right: 0;

    background-color: color.$tertiaryContainer;
    color: color.$onTertiaryContainer;

    border: 1px solid transparent;
    // box-shadow: 1px 1px 4px color.$shadow;

    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition:
        top 0.3s ease,
        right 0.3s ease,
        box-shadow 0.2s ease;

    &:hover {
        @include style.border;
        box-shadow: 1px 1px 4px color.$shadow;
        top: -3px;
        right: -3px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__content {
        margin-top: 10px;
    }
}
