@use "reset.scss";
@use "font-face.scss";
@use "color.scss";

:root {
    font-family: "Fira Code", monospace;
    color: color.$primary;
    background-color: color.$surfaceDim;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overscroll-behavior: none;
}

:root * {
    box-sizing: border-box;
}