@use "../../../styles/color.scss";
@use "../../../styles/font.scss";
@use "../../../styles/variables.scss";

.sidebar {
    @include color.surfaceDim;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0.75rem;

    &__content {
        width: clamp(40px, 2rem, 64px);
        padding: clamp(2px, 0.25rem, 6px);
        box-sizing: border-box;
    }

    @media (max-width: variables.breakpoint(md)) {
        display: none;
    }
}
