@use "../../../styles/color.scss" as color;
@use "../../../styles/style.scss" as style;

.notFound {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: clamp(0px, 15%, 20rem);

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__message {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__link {
        @include style.rounded;
        margin-top: 1rem;
        width: fit-content;
        background-color: color.$error;
        color: color.$onError;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 1rem auto;

        // Add transparent border initially to maintain consistent size
        border: 1px solid transparent;

        &:hover {
            background-color: color.$errorContainer;
            color: color.$onErrorContainer;
            @include style.shadow;
            @include style.border;
        }
    }
}
